{% extends "base.html" %}

{% block title %}{{ app.app_name }}{% endblock %}


{% block content %}
 <!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{{app.app_name}}
                    <small>{{app.developers}}</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-8">
                <img class="img-responsive" src={{app.pic}} alt="">
            </div>

            <div class="col-md-4">
                <h3>{{app.app_name}}</h3>
		<h6>{{app.rating}}</h6>
                <p>{{app.description}}</p>    
            </div>
	    <div class="col-md-4">
		<br/><br/>
                <a href= "{{app.link}}"><button type="submit" class="btn btn-primary">Download</button></a>
	    </div>
	    {% if not app.approved and user.is_staff %}
	    <div class="col-md-4">
		<br/><br/>
		<a href= "{% url 'update_approval' app.id  1 %}"><button type="submit" class="btn btn-primary">Approve</button></a>
		<a href= "{% url 'update_approval' app.id  0 %}"><button type="submit" class="btn btn-primary">Delete</button></a>
	    </div>
	    {% elif logged_in %}
	    <div class="col-md-4">
		<br/><br/>
                <a href= "{% url 'add' app.id %}"><button type="submit" class="btn btn-primary">Add a Review</button></a>
	    </div>
	    {% endif %}
	    
	    

        </div>
        <!-- /.row -->

        <!-- Reviews -->
        <div class="row">

            <div class="col-lg-12">
                <h3 class="page-header">Reviews</h3>
            </div>
	    {% for review in app.review_set.all %}
		
            <div class="col-sm-3 col-xs-6" >
		<h4>{{review.review_name}}</h4>
		<h6>{{review.rating}}<h6>
		<p style="display: inline-block">{{review.description}}</p>
            </div>
	    {% endfor %}


        </div>
        <!-- /.row -->
{% endblock %}