{% extends "base.html" %}

{% block title %}FAQ{% endblock %}


{% block content %}
<!-- Introduction Row -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Frequently Asked Questions</h1>
                
            </div>
        </div>

        <!-- Team Members Row -->
          <div class="row">
            <div>
                
                <h3>What is this site for?</h3>
                <p>AppCat is an application catalog that spans accros ios, andriod, and other mobile or desktop applications</p>
            </div>
            <div >
                
                <h3>How do I look at the apps?</h3>
                <p>Either click the Apps link or search for specific apps by name</p>
            </div>
            <div >
                
                <h3>How do I submit an app or review?</h3>
                <p>first you must be logged into a user account. Don't have one? Create one above using the Signup link </p>
            </div>
            <div >
                
                <h3>Where is my app?</h3>
                <p>After submitting your an admin must approve the app before it will be visible in the catalog.</p>
            </div>
        </div>
{% endblock %}